<?xml version="1.0" encoding="utf-8"?>
<settings version="1"><section id="service.mkga.connector"><category id="general" label="MKGA Connector"><group><setting id="device_id" type="string" label="Device ID" default=""/><setting id="device_token" type="string" label="Device token" default=""/><setting id="device_name" type="string" label="Device name" default=""/><setting id="device_install_id" type="string" label="Protected install identity" default=""/><setting id="device_proof_enabled" type="string" label="Device proof enabled" default="false"/></group></category></section></settings>
